body {
  margin: 0;
  overflow-x: auto;
  color: #323233;
  font-size: 16px;
}

.theme--light.v-application {
  background-color: #f7f8fa !important;
}

.actual_problems {
  background: rgb(255, 204, 128);
  background: linear-gradient(140deg, rgba(247, 248, 250, 1) 60%, rgba(255, 204, 128, 1) 100%);
}

.production_transaction {
  background: rgb(165, 214, 167);
  background: linear-gradient(140deg, rgba(247, 248, 250, 1) 60%, rgba(165, 214, 167, 1) 100%);
}

.transport_transaction {
  background: rgb(179, 157, 219);
  background: linear-gradient(140deg, rgba(247, 248, 250, 1) 60%, rgba(179, 157, 219, 1) 100%);
}

.inventory {
  background: rgb(179, 157, 219);
  background: linear-gradient(140deg, rgba(247, 248, 250, 1) 60%, rgba(179, 157, 219, 1) 100%);
}
